#img{
    width: 40px;
    height: 40px;
}

#topo{
    background-color: #7acbdf;
    height: 70px;
}

#txt{
    color: rgb(0, 0, 0);
    height: 70px;
    display: inline-grid;
    align-items: center;
}

.version{
    color: white;
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

#map { height: 500px; }

.img{
    width: 30px;
    height: 30px;
}

.header{
    margin-top: 2%;
    margin-bottom: 2%;
}