<div class="container-fluid" ng-controller="TempoController" ng-init="consultaCidade()" >
    <!-- <input type="text" id="city" ng-change="consultaCidade()" ng-model="tt"/> -->
    <div class="container ">
        <div class="row">
            <div class="col"> 
            </div>
            <div class="col header">
                <h1 id="descricao" class="text-center">{{descricao}}</h1>
                <h2 id="nomeCity" class="text-center">{{nomeCity}}</h2>
                <div class="row">
                    <div class="col">
                        <h3 id="temp" class="text-end">{{temp}}</h3>
                    </div>
                    <div class="col">
                        <img id="img" class="text-center" />
                    </div>
                </div>
            </div>
            <div class="col">
            </div>
          </div>
    </div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Dia da semana</th>
                            <th scope="col">Maxima</th>
                            <th scope="col">Minima</th>
                            <th scope="col">Tempo</th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr ng-repeat="x in forcast">
                                <td>{{ x.date }}</td>
                                <td>{{ x.weekday }}</td>
                                <td>{{ x.max+'°c' }}</td>
                                <td>{{ x.min+'°c' }}</td>
                                <td>{{ x.description }} <img id={{$index}} class="text-center img" />{{semanaImg($index, x.description)}}</td>
                            </tr>
                        </tbody>
                </table>
                </div>
            <div class="col">
                <div id="map"></div>
            </div>
    </div>
</div>

</div>