<div class="container-fluid" ng-controller="TempoController" ng-init="consultaCidade()">
    <!-- <input type="text" id="city" ng-change="consultaCidade()" ng-model="tt"/> -->
    <div class="container">
        <div class="row">
            <div class="col"> 
            </div>
            <div class="col">
                <h1 id="descricao" class="text-center">{{descricao}}</h1>
                <h2 id="nomeCity" class="text-center">{{nomeCity}}</h2>
                <div class="row">
                    <div class="col">
                        <h3 id="temp" class="text-end">{{temp}}</h3>
                    </div>
                    <div class="col">
                        <img id="img" class="text-center" />
                    </div>
                </div>
            </div>
            <div class="col">
            </div>
          </div>
    </div>
    <div id="map"></div>

<div class="container-fluid">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Dia da semana</th>
                    <th scope="col">Maxima</th>
                    <th scope="col">Minima</th>
                    <th scope="col">Tempo</th>
                </tr>
            </thead>
                <tbody>
                    <tr ng-repeat="x in forcast">
                        <td>{{ x.date }}</td>
                        <td>{{ x.weekday }}</td>
                        <td>{{ x.max }}</td>
                        <td>{{ x.min }}</td>
                        <td>{{ x.description }}</td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>
</div>